# Ignore everything
*

# But track these specific folders
!.config/
!.config/**
!.ssh/
!.ssh/rc
!.local
!.local/bin
!.local/bin/yolo
!.claude/
!.claude/CLAUDE.md
!.claude/settings.json
!.claude/statusline-command.sh
!.claude/skills/
!.claude/skills/**


# exclude the ones with api keys/authentication
.config/github-copilot

!.dotmodules/
!.dotmodules/**
!.gitconfig
!.p10k.zsh
!.tmux.conf
!.direnvrc
!.zshrc

# Always track .gitignore itself
!.gitignore
.DS_Store
